:root {
    --blue: #010224;
    --white: #fff;
    --green: #57F1B1;
}

body {
    color: var(--blue);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}
nav, 
footer {
    background-color: var(--blue);
    color: white;
    display: flex;
    font-size: 18px;
    padding: 20px 0px;
    width: 100%;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
/* Navigation Menu Styles */
nav {
    justify-content: space-between;
    position: fixed;
    z-index:2;
}

div>a {
    margin: 10px 30px;
}
.active, 
div>a {
    color: white;
    text-decoration: none;
}
.active:hover,
 div>a:hover {
    color: var(--green);
    cursor: pointer;
}

h1 {
    animation-delay: .5s;
    letter-spacing: .08em;
    font-size: 2em;
    font-weight: 100;
}
h2 {
    animation-delay: .7s;
    font-size: 1.25em;
    font-weight: 400;
}

h3,
h4 {
    text-transform: uppercase;
}
h3,
h4 {
    font-weight: 600;
    font-size: 1em;
}
h4 {
    font-weight: 400;
}


/* Main Element Styles */
/* Banner Section Styles*/

section.banner {
    background-color: var(--green);
    padding:200px 15px 75px 15px;
    text-align: center;
}


.chevron-section {
    position: absolute;
    left:0;
    right:0;
    text-align: center;
    z-index:1;
}
.chevron {
    padding-top: 20px;
    width: 50px;
    animation: fade-slide-up .5s 1s ease-out forwards,
                pulse 2s 3s ease-out infinite;
    opacity: 0;
}
.chevron:hover {
    width: 58px;
}
.card {
    text-align: center;
}
.bio{
    line-height: 2em;
    margin: 80px 20px;
}
ul{
    list-style-type: none;
}

.profile-picture {
    width: 250px;
}
.mobile-profile-picture {
    display: none;
}
.call-to-action {
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
/* Button Styling */
button{
    border-radius: 10px;
    background-color: var(--green);
    padding: 15px;
    letter-spacing: .10em;
    min-width: 30%;
}
button:hover {
    background-color: var(--blue);
    color: var(--green);
    border: 2px solid var(--green);
    cursor: pointer;
    transition: 0.3s ease-in;
}

/* Project Card Styling */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.highlighted-project{
    width: 100%;
    text-align: center;
}
.row-projects {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items:center;
}
.sub-project-card{
    width: 40%;
}
.project-card {
}
/* Animations */
.pop-in {
    animation: pop-in .8s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
}
/* footer styles */
footer{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/*keyframes*/
@keyframes fade-slide-up {
    0% {
        opacity: 0;
        transform: translateY(4em);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes pulse {
    0% {
        opacity: 1;
        transform: none;
    }
    50% {
        opacity: .8;
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }